<mat-toolbar class="toolbar" color="primary">
  <!-- random image -->
  <div class="div-img">
    <img class="div-img" src={{imgUrl}} width="50px;" height="50px;" alt="" />
  </div>
  <!-- Menu -->
  <button mat-button [matMenuTriggerFor]="menu">{{name}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a class="button-link" href="https://github.com/xrzy1985" target="_blank">Github</a>
    </button>
    <button mat-menu-item>
      <a class="button-link" href="https://www.linkedin.com/in/james-earl-patterson/" target="_blank">LinkedIn</a>
    </button>
  </mat-menu>
  <!-- tab group -->
  <mat-tab-group class="remove-border"
                  *ngFor="let tab of tabs; let i = index"
                  [selectedIndex]="tabSelected.value"
                  (click)="onClick(tab, i)">
    <mat-tab aria-label={{tab.title}}
              class="tab"
              label={{tab.title}}>
    </mat-tab>
  </mat-tab-group>
  <!-- spacer -->
  <span class="spacer"></span>
  <!-- resume -->
  <button mat-icon-button class="resume-download" aria-label="resume"
                matTooltip="Download my resume" [matTooltipPosition]="position.value">
    <mat-icon>file_download</mat-icon>
  </button>
  <!-- email -->
  <button mat-icon-button class="mail-icon" aria-label="mail">
    <mat-icon>mail</mat-icon>
  </button>
</mat-toolbar>
