<mat-list *ngFor="let job of container; let i = index;">
    <div mat-subheader>{{jobsDetails[i]}}</div>
    <mat-list-item style="height: auto;">
        <div style="width: 100vw;">
            <div class="row-container" style="margin: 2vh 5vw 1vh;">
                {{job['position']}}
            </div>
            <div class="row-container" style="margin:  1vh 5vw  1vh;">
                {{job['tech']}}
            </div>
            <div class="row-container" style="margin:  1vh 5vw 2vh;">
                {{job['details']}}
            </div>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>